
    <section class="s1">
        <h1>Contáctanos</h1>
        <p class="text-center mb-2">Deja que nuestro equipo se comunique contigo para recibir más información.</p>

        <div class="formulario">
            <div class="d-flex">
                <input class="form-control" type="text" placeholder="Nombre" id="nombre" name="nombre" autocomplete="off" required>
                <input class="form-control" type="text" placeholder="Apellido" id="apellido" name="apellido" autocomplete="off" required>
            </div>
            <div>
                <input class="form-control" type="text" placeholder="Asunto" id="asunto" name="asunto" autocomplete="off" required>
            </div>
            <div>
                <input class="form-control" type="email" placeholder="E-Mail" id="email" name="email" autocomplete="off" required>
            </div>
            <div class="d-flex flex-column">
                <textarea class="form-control" placeholder="Escribe tu mensaje aquí..." id="mensaje" name="mensaje" autocomplete="off" required></textarea>
                <button class="agenda-digital" >Enviar</button>
            </div>
        </div>
    </section>
 
